<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClinicApp2.Properties.Settings.clinicConnectionString"
            connectionString="Data Source=DESKTOP-8S1QF7D;Initial Catalog=clinic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ClinicApp2.Properties.Settings.il_ilceConnectionString"
            connectionString="Data Source=DESKTOP-8S1QF7D;Initial Catalog=il_ilce;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>